html,
body {
  @apply min-h-screen bg-theme-1-police-blue;

  @include theme(theme-2) {
    @apply bg-theme-2-platinum;
  }

  @include theme(theme-3) {
    @apply bg-theme-3-eerie-black;
  }
}

html {
  @apply antialiased scroll-smooth;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

a,
span {
  @apply inline-block;
}

h1 {
  @apply text-3xl text-white;

  @include theme(theme-2) {
    @apply text-theme-2-dark-charcoal;
  }

  @include theme(theme-3) {
    @apply text-theme-3-banana-yellow;
  }
}
